$black: #151515;
$black--light: lighten($black, 10%);
$white: #fefefe;
$purple: #c36cd2;
$pink:#f17ba4;
$yellow: #fefe51;
$blue: #1ec4c4;

$grainSize: 150px 150px;

@media (max-width: 768px) {
    $grainSize: 100px 100px;
}

$radius: 0;


$font: 'Montserrat';