.about {
    @include flex(column, center, center);
    @include size(100%, 100%);
    // padding-bottom: 80px;

    @media (max-width: 575.98px) {
      padding-bottom: 50px;
    }



    &__title {
      position: relative;
      padding: 10px 15px;
      color: $black;
      font-family: $font;
      background: linear-gradient(45deg, $pink, $purple, $yellow);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      font-weight: bold;
      font-size: 4rem;
      width: 100%;
      text-align: left;
      text-align: center;
      transform: rotate(1deg);
      z-index: 1;
      margin: 0 0 15px 0;

      @media (max-width: 575.98px) {
        margin-bottom: 15px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 100%);
        background: url('/static.jpg') repeat center;
        background-size: 200px 200px;
        mix-blend-mode: color-burn;
        opacity: .3;

        @media (max-width: 575.98px) {
          background-size: 100px 100px;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        @include size(100%, 100%);
        background: linear-gradient(45deg, $pink, $purple, $yellow);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        filter: blur(9px);
        opacity: .4;
        z-index: -1;
      }
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    &__logo {
      // margin: 15px 0;
      max-width: 300px;
    }

    &__container {
      position: relative;
      max-width: 700px;
      color: $white;
      font-size: 1.2rem;
      font-family: $font;
      margin-top: 50px;
      @include flex(column, center, center);
      width: 100%;

      &:first-child {
        min-height: calc(100vh - 100px);
        margin-top: 0;
      }

      p::selection {
        background: $pink;
      }

      .link {
        font-size: 1.2rem;
      }

      @media (max-width: 575.98px) {
        font-size: 1rem;
        padding: 0 20px;

        .link {
          font-size: 1rem;
        }
      }

      p {
        margin: 0;

        &:last-child {
            margin-bottom: 10px;
        }
      }
    }
  }

  .link {
    font-family: $font;
    font-weight: bold;
    color: $blue;
    font-size: 1rem;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .2s all ease-in-out;

    &:focus,
    &:hover,
    &:active {
      color: $pink;
    }
  }