.home-wrapper {
  width: 100%;
  @include flex(column, flex-start, center);

  @media (max-width: 768px) {
    &::-webkit-scrollbar { width: 0 !important; }
  }

  &::-webkit-scrollbar {
    width: 0.7rem;
    position: absolute;
  }

  &::-webkit-scrollbar-track {
      background-color: lighten($black, 5%);
  }

  &::-webkit-scrollbar-thumb {
      background-color: $blue;
  }
}

.home {
    @include flex(column, center, center);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    @media (max-width: 575.98px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    * {
      &::selection {
          background-color: $purple;
      }
    }

    &__social {
      width: 100% !important;
      max-width: 100% !important;
      @include flex(column, center, center);

      svg {
        fill: white;
        @include size(50px, 50px);
      }
    }

    &__social-cta {
      padding: 20px 0;
      font-family: $font;
      color: $white;
      font-weight: bold;
      font-size: clamp(1.3rem, 1.5rem, 1.5rem);
      margin: 15px 0;

      a {
        color: $blue;
        transition: all .2s ease-in-out;

        &:focus,
        &:focus-within,
        &:hover {
          color: $pink;
        }
      }
    }

    &__row {
      position: relative;
      width: 100%;
      background-color: $purple;
      background: linear-gradient(to bottom, $purple, $pink);
      box-shadow: 0px 1px 11px 0px transparentize($pink, 0.2), 0px -1px 11px 0px transparentize($purple, 0.2);
      height: 100%;
      padding: 0 20px;
      @include flex(column, center, center);

      &--blog {
        background: linear-gradient(to bottom, $pink, $purple);
        box-shadow: 0px 1px 11px 0px transparentize($purple, 0.2), 0px -1px 11px 0px transparentize($pink, 0.2);
        padding: 20px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 100%);
        background: url('/static.jpg') repeat center;
        background-size: $grainSize;
        mix-blend-mode: color-burn;
        opacity: .2;
        z-index: 1;
      }

      h3 {
        color: white;
        font-family: $font;
        font-size: 5rem;
      }

      p {
        font-family: $font;
        font-size: 1.5rem;
        font-weight: bold;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        position: relative;
        @include flex(column, center, center);
        background: transparent;
        z-index: 1;
        @include size(100%, 100%);
        max-width: 33.33333%;
        padding: 100px 0;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          @include size(100%, 100%);
          background: radial-gradient(circle, transparentize($purple, .5), transparentize(white, 1) 90%);
          opacity: 0;
          transition: all .2s ease-in-out;
          z-index: -1;
        }

        @media (max-width: 768px) {
          max-width: 100%;
          padding: 50px;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          &::before {
            background: radial-gradient(circle, transparentize($pink, .5), transparentize(white, 1) 90%);
          }
        }

        p {
          width: 100%;
          text-align: center;
        }

        @media (min-width: 769px) {

          p {
            opacity: .85;
            transition: all .2s ease-in-out;
            width: 100%;
          }

          &:focus,
          &:hover {
            &::before {
              opacity: 1;
            }

            p {
              opacity: 1;
            }
          }
        }
      }

    }

    &__grid {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    &__arrow-down {
      font-size: 1.7rem;
      color: white;
      position: absolute;
      margin: 0;
      bottom: 5px;
      width: 100%;
      transform-origin: bottom;
      text-align: center;
      animation: bounce 1.5s cubic-bezier(0.280, 0.840, 0.420, 1) infinite;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    @keyframes bounce {
      0%   { transform: scale(1,1)      translateY(0); }
      10%  { transform: scale(1.1,.85)   translateY(0); }
      30%  { transform: scale(.9,1.1)   translateY(-10px); }
      50%  { transform: scale(1,.9) translateY(0); }
      57%  { transform: scale(1.05,1)      translateY(-3px); }
      64%  { transform: scale(1,.95)      translateY(0); }
      100% { transform: scale(1,1)      translateY(0); }
  }

    &__description{
      color: white;
      font-family: $font;
      font-size: 1.2rem;
      width: 100%;
      max-width: 500px;
      margin: 7px 0 0 0;

      .link {
        font-size: 1.2rem;
      }
    }

    &__cta-btn {
      background-color: transparent;
      border: 3px solid $pink;
      color: white;
      font-family: $font;
      max-width: 300px;
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 30px 0;
      margin: 20px 0;
      transition: all .2s ease-in-out;
      box-shadow: 0px 1px 16px 0px transparentize($blue, 0.6), inset 0px 1px 16px 0px transparentize($blue, 0.6);

      @media (max-width: 575.98px) {
        max-width: 250px;
      }

      &:focus,
      &:focus-within,
      &:hover {
        background-color: $blue;
        border-color: $blue;
        box-shadow: 0px 0px 16px 2px transparentize($blue, 0.3), inset 0px 1px 16px 0px transparent;
      }

      &--services, &--blog {
        border-color: $blue;
        z-index: 2;
      }

      &--pink, &--contact {
        box-shadow: 0px 1px 16px 0px transparentize($pink, 0.6), inset 0px 1px 16px 0px transparentize($pink, 0.6);
      }

      &--contact {
        background-color: $pink;
      }
    }

    &__services-link {
      @include flex(column, center, center);
      color: $white;
    }
}

.logo__container {
  @include flex(row, center, center);
  width: 100%;
  padding: 10px 0;
}

.logo {
  max-width: 500px;
  width: 100%;
  z-index: 3;
}

.icon {
  @include size(100px, 100px);
  fill: #fefefe;

  &--graphic-design {
    background: url('/icons/services/graphic-design.svg') no-repeat center;
    background-size: contain;
  }

  &--website-design {
    background: url('/icons/services/website-design.svg') no-repeat center;
    background-size: contain;
  }

  &--website-maintenance {
    background: url('/icons/services/website-maintenance.svg') no-repeat center;
    background-size: contain;
  }

  &--social-media-design {
    background: url('/icons/services/social-media-design.svg') no-repeat center;
    background-size: contain;
  }

  &--motion-design {
    background: url('/icons/services/motion-design.svg') no-repeat center;
    background-size: contain;
  }

  &--ad-design {
    background: url('/icons/services/ad-design.svg') no-repeat center;
    background-size: contain;
  }
}