.home-wrapper {
  width: 100%;
  // margin-top: 50px;
  overflow: hidden;
  overflow-y: auto;
  @include flex(column, flex-start, center);

  @media (max-width: 768px) {
    &::-webkit-scrollbar { width: 0 !important; }
  }

  &::-webkit-scrollbar {
    width: 0.7rem;
    position: absolute;
  }

  &::-webkit-scrollbar-track {
      background-color: lighten($black, 5%);
  }

  &::-webkit-scrollbar-thumb {
      background-color: $blue;
  }
}

.home {
    @include flex(column, center, center);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    @media (max-width: 575.98px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    * {
      &::selection {
          background-color: $purple;
      }
    }

    &__social {

      svg {
        fill: white;
        @include size(50px, 50px);
      }
    }

    &__social-cta {
      padding: 20px 0;

      a {
        color: $blue;
        transition: all .2s ease-in-out;

        &:focus,
        &:hover {
          color: $pink;
        }
      }
    }

    &__row {
      position: relative;
      width: 100%;
      background-color: $purple;
      background: linear-gradient(to bottom, $purple, $pink);
      min-height: 100vh;
      height: 100%;
      padding: 20px;
      @include flex(column, center, center);

      @media (max-height: 768px) {
        min-height: 200vh;
      }

      &--blog {
        background: linear-gradient(to bottom, $pink, $purple);
        min-height: 100%;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 100%);
        background: url('/static.jpg') repeat center;
        background-size: 200px 200px;
        mix-blend-mode: color-burn;
        opacity: .2;
        z-index: 1;
      }

      h3 {
        color: white;
        font-family: $font;
        font-size: 5rem;
      }

      p {
        font-family: $font;
        font-size: 1.5rem;
        font-weight: bold;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        position: relative;
        @include flex(column, center, center);
        background: transparent;
        z-index: 1;
        @include size(100%, 100%);
        max-height: 448px;

        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   @include size(100%, 100%);
        //   background: radial-gradient(circle, $purple, transparent);
        //   opacity: 0;
        //   transition: all .2s ease-in-out;
        //   z-index: -1;
        // }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          @include size(100%, 100%);
          background: url('/static.jpg') repeat center;
          background-size: 200px 200px;
          mix-blend-mode: color-burn;
          opacity: 0;
          z-index: 1;
          transition: all .2s ease-in-out;
        }

        // &:nth-child(4),
        // &:nth-child(5),
        // &:nth-child(6) {
        //   &::before {
        //     background: radial-gradient(circle, $pink, transparent);
        //   }
        // }

        // @media (min-width: 769px) {

        //   &:focus,
        //   &:hover {
        //     &::before {
        //       opacity: 1;
        //     }

        //     &::after {
        //       opacity: .2;
        //     }
        //   }
        // }
      }

    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      height: 100%;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    &__arrow-down {
      font-size: 3rem;
      color: white;
      position: absolute;
      margin: 0;
      bottom: 5px;
      width: 100%;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    &__description{
      color: white;
      font-family: $font;
      font-size: 1.2rem;
      width: 100%;
      max-width: 500px;
      margin: 7px 0 0 0;

      .link {
        font-size: 1.2rem;
      }
    }

    &__cta-btn {
      background-color: transparent;
      border: 3px solid $pink;
      color: white;
      font-family: $font;
      max-width: 216px;
      width: 100%;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 20px;
      margin: 20px 0 10px 0;
      transition: all .2s ease-in-out;

      &:focus,
      &:hover,
      &:focus-within {
        background-color: $blue;
        border-color: $blue;
      }

      &--services, &--blog {
        border-color: $blue;
        z-index: 2;
      }
    }
}

.logo__container {
  @include flex(row, center, center);
  width: 100%;
  padding: 10px 0;
}

.logo {
  max-width: 500px;
  width: 100%;
  z-index: 3;
}

.icon {
  @include size(100px, 100px);
  fill: #fefefe;

  &--graphic-design {
    background: url('/icons/services/graphic-design.svg') no-repeat center;
    background-size: contain;
  }

  &--website-design {
    background: url('/icons/services/website-design.svg') no-repeat center;
    background-size: contain;
  }

  &--website-maintenance {
    background: url('/icons/services/website-maintenance.svg') no-repeat center;
    background-size: contain;
  }

  &--sm-design {
    background: url('/icons/services/sm-design.svg') no-repeat center;
    background-size: contain;
  }

  &--video-editing {
    background: url('/icons/services/video-editing.svg') no-repeat center;
    background-size: contain;
  }

  &--ad-design {
    background: url('/icons/services/ad-design.svg') no-repeat center;
    background-size: contain;
  }
}