main {
  padding: 0;
}

.main {
    position: relative;
    @include flex(column, flex-start, center);
    padding: 30px 20px;
    padding-bottom: 0;
    background-color: #151515;
    border-radius: $radius;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    padding-top: 100px;
    z-index: 1;
    transition: all 0.466s ease-in-out;

    &--init {
      padding: 0;
      border-color: transparent !important;
      min-height: 0;
      // overflow: hidden;
    }

    &__logo {
      @include flex(row, center, center);
      width: 100%;
    }

    &__content {
      height: 100%;
      // overflow: hidden;
      padding-top: 100px;
      background-color: transparentize(#151515, 0.13);
    }

    &__home {
      height: 100%;
      // border-left-color: $yellow;
      // border-right-color: $blue;
      // border-top-color: $pink;
      // border-bottom-color: $purple;
      transition: all 0.466s ease-in-out;
      padding: 100px 0 0 0;

      @media (max-width: 575.98px) {
        padding: 100px 0 0 0;
      }
    }

    &__services {
      // border-color: $yellow !important;
      transition: all 0.466s ease-in-out;
    }

    &__about, &__blog, &__blog-post {
      @include flex(column, center, center);
      // border-color: $pink !important;
      transition: all 0.466s ease-in-out;
    }

    &__contact {
      // border-color: $blue;
      transition: all 0.466s ease-in-out;
    }
  }


  .content {
    @include flex(column, flex-start, flex-start);
    @include size(100%, 100%);
    transition: all 0.2s ease-in-out;

    &--show {
      opacity: 1;
    }
  }