main {
  padding: 0;
}

.main {
    position: relative;
    @include flex(column, flex-start, center);
    padding: 30px 20px;
    padding-bottom: 0;
    background-color: #151515;
    border-radius: $radius;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    padding-top: 100px;
    transition: all 0.466s ease-in-out;

    @media (max-width: 768px) {
      &::-webkit-scrollbar { width: 0 !important; }
    }

    &::-webkit-scrollbar {
    width: 0.7rem;
    position: absolute;
    }

    &::-webkit-scrollbar-track {
        background-color: lighten($black, 5%);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $blue;
    }

    &--init {
      padding: 0;
      border-color: transparent !important;
      min-height: 0;
      // overflow: hidden;
    }

    &__logo {
      @include flex(row, center, center);
      width: 100%;
    }

    &__content {
      width: 100%;
      min-height: 100%;
      padding-top: 100px;
      background-color: transparentize(#151515, 0.13);
      padding-bottom: 40px;
    }

    &__home {
      height: 100%;
      transition: all 0.466s ease-in-out;
      padding: 100px 0 0 0;

      @media (max-width: 575.98px) {
        padding: 100px 0 0 0;
      }
    }

    &__services {
      padding-bottom: 0;
      transition: all 0.466s ease-in-out;
    }

    &__about, &__blog, &__blog-post {
      @include flex(column, center, center);
      transition: all 0.466s ease-in-out;
    }

    &__contact {
      padding-bottom: 0;
      transition: all 0.466s ease-in-out;
    }
  }


  .content {
    @include flex(column, flex-start, flex-start);
    // @include size(100%, 100%);
    width: 100%;
    min-height: 100%;
    transition: all 0.2s ease-in-out;

    @media (max-width: 768px) {
      &::-webkit-scrollbar { width: 0 !important; }
    }

  &::-webkit-scrollbar {
  width: 0.7rem;
  position: absolute;
  }

  &::-webkit-scrollbar-track {
      background-color: lighten($black, 5%);
  }

  &::-webkit-scrollbar-thumb {
      background-color: $blue;
  }

    &--show {
      opacity: 1;
    }
  }