.service {
    @include size(100%, 100%);
    @include flex(column, center, center);
    position: relative;

    &__top {
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__title {
        @include flex(column, center, center);
        font-size: clamp(3rem, 7vw, 7rem);
        line-height: clamp(3rem, 7vw, 7rem);
        margin: 50px 0 25px 0;
        padding: 20px;
        transform: rotate(1deg);
        max-width: 700px;
        color: $black--light;
        box-sizing: border-box;
        letter-spacing: -1px;
        background: linear-gradient(45deg, $purple, lighten($blue, 10%));
        box-shadow: 0px 1px 11px 0px transparentize($purple, 0.5), 0px -1px 11px 0px transparentize(lighten($purple, 10%), 0.5);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%, 100%);
            background: url('/static.jpg') repeat center;
            background-size: $grainSize;
            mix-blend-mode: color-burn;
            opacity: .2;
            z-index: 1;
          }
    }

    &__icon {
    }

    &__content {

        p {
            font-family: $font;
            color: $white;
            font-size: 1.1rem;
        }
    }
}