@import './styles/base';

html {
  height: 100%;
  min-height: 100%;
  margin-left: calc(100vw - 100%);
  background-color: $black;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: $black;
  height: 100%;
  width: 100%;
  min-height: 100%;
  // overflow-y: scroll;
  @media (max-width: 768px) {
    &::-webkit-scrollbar { width: 0 !important; }
  }

  &::-webkit-scrollbar {
    width: 0.7rem;
  }

  &::-webkit-scrollbar-track {
      background-color: lighten($black, 5%);
  }

  &::-webkit-scrollbar-thumb {
      background-color: $blue;
  }


}

#root {
  position: relative;
  height: 100%;
  background-color: $black;
  min-height: 100%;
}

ul,li {
  list-style: none;
  color: $white;
  font-family: $font;
  font-size: 1rem;
}

h1 {
  color: $black;
  font-family: $font;
  background-color: white;
  padding: 7px;
  text-align: center;
  transform: rotate(3deg);
  transition: all .2s ease-in-out;
  min-width: 144px;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

.app {
  @include flex(row, center, center);
  @include size(100vw, 100%);
  min-height: 100vh;
  background-color: $black;
  background: url('/background.jpg') repeat;
  background-position: 120% 50%;
  background-size: 634px 634px;

  &__inner {
    @include size(100%, 100%);
    min-height: 100vh;
    @include flex(column, center, center);
    box-sizing: border-box;

    * {
      box-sizing: border-box;
    }
  }


}

.footer {
  @include size(100%, 30px);
  @include flex(column, center, center);
  padding-top: 10px;
  position: absolute;
  left: 0;
  bottom: 5px;


  &__divider {
    width: 100%;
    @include flex(row, center, center);
    margin-top: 8px;

    .shape__container {
      position: relative;
    }

    .divider {
      border-color: $pink !important;
    }
  }

  .link {
    font-size: .8rem;
  }

  &__tagline {
    font-family: $font;
    color: $white;
    text-align: center;
    font-size: clamp(1.1rem, 1.3rem, 1.3rem) !important;
  }

  &--big {
    position: relative;
    height: 100%;
    padding: 40px 20px 5px 20px;

    .row {
      width: 100%;
      padding: 20px 0;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      p {
        font-family: $font;
        color: $white;
        font-size: clamp(1.3rem, 1.5rem, 1.5rem);
      }
    }

    h3 {
      color: #fefefe;
      font-size: clamp(3rem, 5vw, 4.5rem);
      // line-height: clamp(3rem, 5vw, 4.5rem);
      font-family: $font;
      margin: 0;
      margin-bottom: 5px;
    }
  }

  &__col {
    @include flex(column, center, center);
    width: 100%;
  }

  p {
    margin: 0;
    font-family: $font;
    font-size: 0.8rem;
    color: $white;
    // font-weight: bold;
  }

}

.no-show {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $black;
  z-index: 9999;
  @include size(100%, 100vh);
  @include flex(column, center, center);
  display: none;

  p {
    margin: 0;
    color: $white;
    font-family: $font;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    display: flex;
  }

  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    display: flex;
  }

  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    display: flex;
  }

  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    display: flex;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.remove {
  display: none;
}

.bg {

  &--blue {
    background-color: $blue;
  }

  &--purple {
    background-color: $purple;
  }

  &--yellow {
    background-color: $yellow;
    color: $black;
  }

  &--pink {
    background-color: $pink;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate {

  &--fade-in {
    animation: fade-in .5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &--fade-in-fast {
    animation: fade-in .2s ease-in-out;
    animation-fill-mode: forwards;
  }

  &--fade-out {
    animation: fade-out .5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.link__back-btn {
  font-family: $font;
  font-size: 1.1rem;
  color: $blue;
  font-weight: bold;
  transition: all .2s ease-in-out;

  &:focus,
  &:hover {
      color: $pink;
  }
}

.row {
  @include flex(row, center, center);
}

.column {
  @include flex(column, center, center);
}


.desktop {
  @media (max-width: 575.98px) {
    display: none;
  }
}

.mobile {
  @media (min-width: 575.97px) {
    display: none;
  }
}

.no-scroll {
  overflow: hidden !important;
}